@import "reset.css";

body {
    position: relative;
    height: 800px;
}
.block {
    background: orchid;
    border: 3px solid red;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    
}
.block2 {
    background: orchid;
    border: 3px solid red;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 100%;
    position: absolute;
    left: 35%;
    bottom: 0;
    
}

